@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-dark-700: #484848;
  --color-dark-800: #343434;
  --color-dark-900: #242424;

  --font-primary: "Inter";
}

/* View */
@utility small-only-view {
  @apply block lg:hidden;
}
@utility medium-only-view {
  @apply hidden md:block lg:hidden;
}
@utility large-only-view {
  @apply hidden lg:block;
}

@utility all-transition {
  @apply transition-all ease-in-out duration-300;
}

/* Honme Section */
@utility hero-section {
  @apply min-h-screen max-w-screen flex lg:justify-center lg:items-center pt-[11.4rem] lg:pt-0 px-6 lg:px-5 overflow-x-hidden;
}
@utility hero-section-container {
  @apply max-w-[104rem] w-full z-[2] block relative min-h-[89vh] lg:min-h-fit;
}
@utility border-animated-div {
  @apply aspect-square border-[1px] lg:border-[0.5px] border-black dark:border-white w-[60vh] opacity-20 lg:w-[70vw] absolute z-[0];
}
